.block {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.customBut {
  height: 52px;
  width: 154px;
  left: 883px;
  top: 575px;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
}

